<h2>Manage Navigation Items</h2>
<div id='breadcrumbs'>
  <%= link_to 'Administration', admin_path %> > <strong>Manage Navigation Items</strong>
</div>
<p>The navigation item management page allows you to change the items that appear in the top right of the website.  There is no limit to the number of links you can add, but you will eventually overload the layout and the user.  <strong>Fewer is better.</strong></p>