<h2>Edit a Slider Image</h2>
<div id='breadcrumbs'>
  <%= link_to 'Administration', admin_path %> > <%= link_to 'Manage Slider Images', admin_slider_images_path %> > <strong>Edit a Slider Image</strong>
</div>
<%= image_tag @slider_image.image.url %>