%link{ :href=> 'http://fonts.googleapis.com/css?family=Habibi|Open+Sans:400,300,700', :rel=>'stylesheet', :type=>'text/css'}
=stylesheet_link_tag    "application", :media => "all"
=javascript_include_tag "application"
=javascript_include_tag "responsiveslides.min"
=csrf_meta_tags
:javascript
	$(function () {
		$(".rslides").responsiveSlides();
	});