<header id="header">
  <div id="container">
    <div id="navigation">
      <ul>
      <% if current_user_is_admin? %>
        <li><%= link_to "Administration", "/admin" %></li>
      <% end %>
        <li><%= link_to "Home", root_url %></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Resources</a></li>
      </ul>
    </div>
  </div>
</header>
