/*
 *   Global Structure --------------------------------------------------------------------
 */

body, html {
  margin: 0;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  background: url(/assets/bg_light_toast.png) #F2F2F2;
  height: 100%;
}

header, footer {
  display: block;
  background: #0a304e;
  color: #f2f2f2;
}

#container {
  width: 840px;
  margin: auto;
  overflow: visible;
  clear: both;
}

#container.logo {
  overflow: visible;
}

#container.content {
  padding-top: 18px;
  padding-bottom: 34px;
}

#header, #footer {
  overflow: hidden;
  margin: 0;
  width: 100%;
}

#header {
  height: 60px;
  box-shadow: inset 0 -3px 8px rgba(0, 0, 0, 0.25);
  z-index: 1;
  overflow: visible;
}

.body-container {
  min-height: 100%;
  margin-bottom: -80px;
}
.body-container-push {
  height: 68px;
}

#content {
  padding-top: 18px;
}

#footer {
  height: 28px;
  font-size: .8em;
  padding-top: 12px;
  margin-top: 40px;
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.25);
}

#footer a {
  color: #f2f2f2;
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
}

#footer .footer-left {
  float: left;
}

#footer .footer-right {
  float: right;
}

#navigation {
  display: inline;
  float: right;
  text-align: right;
}

#navigation ul {
  margin-top: 28px;
  list-style: none;
}

#navigation ul li {
  float: left;
}

#navigation ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 300;
  margin-left: 40px;
  display: block;
  height: 30px;
}

/*
 * Homepage Only --------------------------------------------------------------
 */
#header #logo {
  height: 360px;
  float: left;
  width: 300px;
  position: relative;
  right: 23px;
}
#header #logo img {
  margin: 20px 0 0 50px;
}
body.homepage #header h1 {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin: 20px 0;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}
#header #logo ul {
  clear: both;
}
#header #logo ul li {
  text-align: right;
}
#header #logo ul li a {
  color: #0A304E;
  font-size: 20px;
  font-style: italic;
  text-decoration: none;
}
#slider {
  width: 520px;
  height: 279px;
  position: relative;
  top: 55px;
  float: right;
  box-shadow: 0 0 5px #888;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


/*
 *   Headers and titles ------------------------------------------------------------------
 */
 
h1 {
  font-family: 'Habibi', serif;
  font-size: 2.6em;
}

h2 span.subheading {
  font-weight: normal;
}

#logo {
  width: 100%;
  overflow: visible;
}

#logo img {
  float: left;
  margin: -40px 0 0 20px;
  z-index: 3;
}

#logo h1 {
  float: right;
  margin-top: 40px;
}

#logo h1 a {
  color: #444;
  text-decoration: none;
}

#logo h1 a:hover {
  border: none;
}

/*
 *   Special formatting ------------------------------------------------------------------
 */

#flash {
  width:812px;
  padding: 13px;
  margin: 20px 0;
  border: 1px solid #666;
  background: rgba(150,150,150,.3);
}  

/*
 *   Tables ------------------------------------------------------------------------------
 */
table {
  border: 1px solid #666;
  border-collapse: collapse;
  width: 100%;
}

table th {
  border: 1px solid #666;
  background: #dedede;
  padding: 8px;
}

table td {
  border: 1px solid #666;
  padding: 8px;
}

/*
 *   Forms -------------------------------------------------------------------------------
 */
p.form {
  width: 100%;
  overflow: hidden;
}

input {
  padding: 6px;
}
