!!!
%html
  %head
    %title USG
    =render "layout_partials/header", locals: { title: "USG" }
  %body
    .body-container
      %header#header
        #container
          #navigation
            =render "layout_partials/navigation"
      #container.logo
        #logo
          =image_tag "logo.png"
          %h1
            =link_to "Undergraduate Student Government", root_url
      -if !flash.empty?
        #container
          -flash.each do |name, msg|
            - if msg.is_a?(String)
              #flash(class=name)= raw(msg)
      #container
        =yield
      .body-container-push
    =render "layout_partials/footer"
