!!! 5
%html{:lang => "en"}
  %head
    %title Welcome to USG!
    =render "layout_partials/header", locals: { title: "Welcome to USG!" }
  %body.homepage
    .body-container
      %header#header
        #container
          #logo
            =image_tag "logo.png", :class=>"logo"
            %h1 Undergraduate Student Government
            %ul
              %li
                %a{:href=>"#"} Feedback Form →
              %li
                %a{:href=>"#"} Submit a Disbursement →
              %li
                %a{:href=>"#"} Search →
          #navigation
            =render "layout_partials/navigation"
          .slider-wrapper
            #slider.nivo-slider
              =image_tag "http://placekitten.com/500/200", :style => "width: 520px; height: 279px;"
      #container.content
        =yield
      .body-container-push
    =render "layout_partials/footer"
