!!! 5
%html{:lang => "en"}
  %head
    %title Welcome to USG!
    =render "layout_partials/header", locals: { title: "Welcome to USG!" }
  %body.homepage
    .body-container
      %header#header
        #container
          #logo
            =link_to root_url do
              =image_tag "logo.png", :class=>"logo"
            %h1 Undergraduate Student Government
            %ul
              %li
                %a{:href=>"/feedback"} Feedback Form →
              %li
                %a{:href=>"/disbursements"} Submit a Disbursement →
              %li
                %a{:href=>"http://spartanlink.case.edu"} SpartanLink →
          #navigation
            =render "layout_partials/navigation"
          #slider
            %ul.rslides
              %li=image_tag "http://placehold.it/520x279/ff5555/ffffff"
              %li=image_tag "http://placehold.it/520x279/55ff55/ffffff"
      #container.content
        =yield
      .body-container-push
    =render "layout_partials/footer"
